#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

.country{
  padding: 12px;
  margin: 12px;
  border: 2px solid goldenrod;
  border-radius: 20px;
}

.boxStyle{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

